POSTGRES_HOST=postgres
POSTGRES_DB=postgres
POSTGRES_USER=user
POSTGRES_PASSWORD=password

REDIS_HOST=redis
REDIS_PASSWORD=password

# htpasswd -nb "user" "password"
REGISTRY_USERNAME=user
REGISTRY_PASSWORD=password
REGISTRY_HTPASSWORD='$apr1$SXlYINSe$m0/9UxcCHTpCNuPaCpREq0' # password

CLICOLOR_FORCE=0
