POSTGRES_HOST=postgres
POSTGRES_DB=postgres
POSTGRES_USER=user
POSTGRES_PASSWORD=password

REDIS_HOST=redis
REDIS_PASSWORD=password

BASIC_AUTH_USERNAME=user
# BASIC_AUTH_PASSWORD=password
# htpasswd -nb "$BASIC_AUTH_USERNAME" "$BASIC_AUTH_PASSWORD"
BASIC_AUTH_HTPASSWD='$apr1$SXlYINSe$m0/9UxcCHTpCNuPaCpREq0'

CLICOLOR_FORCE=0
