POSTGRES_HOST=postgres
POSTGRES_DB=postgres
POSTGRES_USER=user
POSTGRES_PASSWORD=password

REDIS_HOST=redis
REDIS_PASSWORD=password

TRAEFIK_USERNAME=user
TRAEFIK_PASSWORD=password
# htpasswd -nb "$TRAEFIK_USERNAME" "$TRAEFIK_PASSWORD"
TRAEFIK_HTPASSWORD='$apr1$SXlYINSe$m0/9UxcCHTpCNuPaCpREq0'

REGISTRY_USERNAME=user
REGISTRY_PASSWORD=password
# htpasswd -nb "$REGISTRY_USERNAME" "$REGISTRY_PASSWORD"
REGISTRY_HTPASSWORD='$apr1$SXlYINSe$m0/9UxcCHTpCNuPaCpREq0'

CLICOLOR_FORCE=0
