
services:
  app:
    build:
      context: .
      args:
        GIT_HASH: ${GIT_HASH:-unknown}
    restart: always
    environment:
      CLICOLOR_FORCE: ${CLICOLOR_FORCE:-0}
      POSTGRES_HOST: postgres
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      REDIS_HOST: redis
      REDIS_PASSWORD: ${REDIS_PASSWORD}
    depends_on:
      - postgres
      - redis
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./.data/attachments:/app/attachments
    networks:
      - default
      - internal
    # command: ["tail", "-f", "/dev/null"] #! Debugging
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.app.rule=PathPrefix(`/`)"
      - "traefik.http.services.app.loadbalancer.server.port=1337"
      - "traefik.http.routers.app.entrypoints=web"
      - "traefik.http.routers.app.priority=1"

  postgres:
    image: postgres:18-alpine
    restart: always
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      PGDATA: /var/lib/postgresql/18/data/pgdata
    volumes:
      - ./.data/pg_data:/var/lib/postgresql/18/data
    networks:
      - internal
      - default #! Debugging

  adminer:
    image: adminer:5.4.1
    restart: always
    ports:
      - 8000:8080
    depends_on:
      - postgres
    networks:
      - internal
      - default

  redis:
    image: redis:8.2-alpine
    restart: always
    ports:
      - "${REDIS_PORT:-6379}:6379"
    command: ["redis-server", "--requirepass", "${REDIS_PASSWORD}"]
    volumes:
      - ./.data/redis_data:/data
    networks:
      - internal
      - default #! Debugging

  nginx:
    image: nginx:1.29-alpine
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      default:
      trxd-shared-internal:
        ipv4_address: 172.137.0.2

  traefik:
    image: traefik:v3.6
    restart: always
    command:
      - "--log.level=DEBUG" #! Debugging
      - "--api.insecure=true" #! Debugging
      - "--providers.docker=true"
      - "--providers.providersThrottleDuration=0s"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
    ports:
      - "80:80"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      default:
      trxd-shared-internal:
        ipv4_address: 172.137.0.2


networks:
  default:
  internal:
    internal: true
  trxd-shared-internal:
    external: true
