
services:
  app:
    build:
      context: .
      args:
        GIT_HASH: ${GIT_HASH:-unknown}
    restart: always
    environment:
      POSTGRES_HOST: postgres
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      REDIS_HOST: redis
      REDIS_PASSWORD: ${REDIS_PASSWORD}
    depends_on:
      - postgres
      - redis
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./.data/attachments:/app/attachments
    networks:
      - default
      - internal
    command: ["tail", "-f", "/dev/null"] #! Debugging

  postgres:
    image: postgres:18-alpine
    restart: always
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      PGDATA: /var/lib/postgresql/18/data/pgdata
    volumes:
      - ./.data/pg_data:/var/lib/postgresql/18/data
    networks:
      - internal
      - default #! Debugging

  adminer:
    image: adminer:5.4.1
    restart: always
    ports:
      - 8080:8080
    depends_on:
      - postgres
    networks:
      - internal
      - default

  redis:
    image: redis:8.2-alpine
    restart: always
    ports:
      - "${REDIS_PORT:-6379}:6379"
    command: ["redis-server", "--requirepass", "${REDIS_PASSWORD}"]
    volumes:
      - ./.data/redis_data:/data
    networks:
      - internal
      - default #! Debugging

  nginx:
    image: nginx:1.29-alpine
    restart: always
    ports:
      - "80:80"
    depends_on:
      - app
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - default


networks:
  default:
  internal:
    internal: true
